<h1><%=title%></h1>
<p>Sorry, something went wrong. Since this app is so damn simple, I suspect it was you.</p>
<!-- <p>Just an example - this is an unsanitised version of the <code>title</code> argument:</p>
<code><%-title%></code> -->