<!DOCTYPE html>
<html lang="en"> 
<head> 
<meta charset=utf-8 /> 
<title>Our Family Guy Express.js Adventue</title> 
<link rel="stylesheet" href="/style.css" />
</head>
<body>
<%- body %>
</body>
</html>