body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0}

/* HTML5 tags */
header, section, footer, aside, nav, article, figure {display: block;}
::-moz-selection{ background: #e84949; color:#fff; text-shadow: none; }
::selection { background:#e84949; color:#fff; text-shadow: none; } 

@font-face {
font-family: 'ProximaNovaLight';

            src: url('../proximanova-light-webfont.eot#') format('eot'),
            url('../proximanova-light-webfont.woff') format('woff'),
            url('../proximanova-light-webfont.ttf') format('truetype'),
            url('../proximanova-light-webfont.svg#webfontoTfE7jLl') format('svg');
            font-weight: normal;
            font-style: normal;

}
body {background: url(../images/bg.jpg) repeat #e9e5d8; font-family: 'ProximaNovaLight', Arial;}
#container {width: 100%; margin-top: 26px; margin-bottom: 60px; overflow: auto}

header.top {width: 940px; margin: 0 auto 0 auto;}
h1 {float: left; text-indent:-9999px; background: url(../images/logo.png) no-repeat; width: 80px; height: 81px; }
h2 {font-size: 36px; color: #4c2826;}


nav {float: right; margin-top: 6px; font-family: Georgia, "Times New Roman", Times, serif; font-size: 12px;}
nav ul li {display:inline; float: left; text-align: center; margin-left: 29px}


nav ul li a {font-style: italic; text-decoration: none; color: #393939 !important; line-height: 63px; display: block; height: 63px; width: 63px;}
nav ul li a:hover {background: #dad7cd; -moz-border-radius: 100px; border-radius: 100px; -webkit-border-radius: 100px; color: #393939 !important; text-shadow: #f1f1f1 1px 1px 0px;}
nav ul li a:active {background: #e84949; color: #ffffff !important; text-shadow: none}
nav ul li.active a {background: #e84949; -moz-border-radius: 100px; border-radius: 100px; -webkit-border-radius: 100px; color: #ffffff !important;}
nav ul li.active a:hover {text-shadow: none}

#descriptive {float: left; height: 91px; background: url(../images/descript-bg.jpg) repeat-x; width: 100%; margin-top: 26px; margin-bottom: 40px; letter-spacing: -1.5px; text-align: center; }
#descriptive header.intro h2{width: 940px; margin: 0 auto; text-shadow: #ff8080 1px 1px 0px; margin-top: 16px}
span#and {color: #fff;}

details#buzzwords {letter-spacing: 1.5px; color: #ffffff}
details#buzzwords strong {font-weight: bold}

#main-contain {width: 940px; margin: 0 auto 0 auto;}
#main {float: left}

/* ABOUT - PROFILE */
section#profile-left {float: left; width: 657px}
section#profile-left ul#personally {background: url(../images/personally.png) no-repeat; height: 231px; width: 292px; float: left; margin-bottom: 34px; margin-right: 55px; padding-top: 40px; padding-left: 9px}
section#profile-left ul#personally:hover {background: url(../images/personally-hover.png) no-repeat}
section#profile-left #professionally {background: url(../images/professionally.png) no-repeat; height: 231px; width: 292px; float: left; margin-bottom: 34px; padding-top: 40px; padding-left: 9px}
section#profile-left #professionally:hover {background: url(../images/professionally-hover.png) no-repeat}
details.per-bio, details.pro-bio {color: #d5cfc3; letter-spacing: 0.5px;text-transform:uppercase; font-size: 12px; padding-left: 3px; margin-top: 25px; color: #312b2b}
details.per-bio {width: 200px}
details.pro-bio {width:215px}
section#profile-left ul li.slider {height: 23px; width: 266px; background: url(../images/fill-bg.png) no-repeat; margin-bottom: 7px;  line-height: 23px; text-transform:uppercase; position: relative; color: #d5cfc3}
span.indicate {background: url(../images/indicate-end.png) #312b2b no-repeat 0 center; width: 140px; height: 21px; display: block; position: absolute; top: 1px; left: 0px; padding-left: 10px;}






/* SHORT BIO */
#short-bio {float: left; width: 639px; clear: left}
#short-bio h3 {font-size: 20px; letter-spacing: 1.5px; color: #e84949 !important; text-transform:uppercase; margin-bottom: 13px}
#short-bio p{letter-spacing: 1.5px; text-transform:uppercase;text-shadow: #ffffff 1px 1px 0px; margin-bottom: 13px; line-height: 16px}
#short-bio p img.left {float: left; margin-right: 20px}
#short-bio p img.right {float: right}

/* RIGHT COLUMN - SIDEBAR */
section#profile-right {float: left; margin-left: 62px; width: 210px;}
section#profile-right h3 {font-size: 20px; letter-spacing: 1.5px; color: #e84949 !important; text-transform:uppercase; margin-bottom: 13px}
section#profile-right h4 {font-size: 12px; letter-spacing: 1.5px; text-transform:uppercase; color: #312b2b; text-shadow: #ffffff 1px 1px 0px; margin-bottom: 10px}
section#profile-right p a {color: #277eb5; }
section#profile-right p a:hover {text-decoration: none; color: #349fe3}
section#profile-right p {padding-left: 38px; font-size: 11px; letter-spacing: 1.5px; text-transform:uppercase;}
section#profile-right p#twitter {margin-bottom: 20px; background: url(../images/twitter-bird.png) no-repeat; height: 21px; line-height: 21px}
section#profile-right p#dribbble {margin-bottom: 20px; background: url(../images/dribbble-ball.png) no-repeat; height: 29px; line-height: 29px}
section#profile-right p#pdf {margin-bottom: 10px; background: url(../images/pdf-icon.png) no-repeat; height: 31px; line-height: 28px}
section#profile-right p#word {margin-bottom: 20px; background: url(../images/word-icon.png) no-repeat; height: 29px; line-height: 29px; margin-bottom: 45px}


/* CREATIVE - POST */
li.post {width: 204px; margin-right: 30px; margin-bottom: 34px; height: 178px; display: block; float: left; background: url(../images/post-divide.jpg) no-repeat bottom }
li.post a{text-decoration: none;}
li.post img {background: #000; border: 3px solid #d7d4ca; height:134px; width: 204px; display: block}
li.post img:hover {border: 3px solid #fff; cursor: hand;}
ul li:last-child {margin-right: 0px}
ul li.post details {padding-top: 8px; font-family: Georgia, Geneva, Kalimati,sans-serif; font-weight: normal; font-style: italic; color: #0f0f0f}
.back a{background: #fff; font-size: 10px; color: #0f0f0f; width: 135px; display: block; text-decoration: none; text-align: center; -moz-border-radius: 100px; border-radius: 100px; -webkit-border-radius: 100px; padding: 2px 4px; text-shadow: none; margin-top: 28px}
.back a:hover {background: #0f0f0f; color: #fff; }

/* CREATIVE - INDIVIDUAL POSTS */
section#post-left {float: left; width: 380px; padding-right: 40px}
#post-text h3 {font-size: 20px; letter-spacing: 1.5px; color: #e84949 !important; text-transform:uppercase; margin-bottom: 13px}
section#post-left #post-text{letter-spacing: 1.5px; text-transform:uppercase;text-shadow: #ffffff 1px 1px 0px; margin-bottom: 13px; line-height: 16px}
section#post-right {float: left; width: 520px; height: 600px}
section#post-right  img {display: block; height: 600px; width: 520px;}
#post-text p{letter-spacing: 1.5px; text-transform:uppercase;text-shadow: #ffffff 1px 1px 0px; margin-bottom: 13px; line-height: 16px}
#post-text p a {color: #277eb5; }
#post-text p a:hover {text-decoration: none; color: #349fe3}



/* FOOTER */
footer {width: 940px; margin: 0 auto; clear: both;}
#left-social {width: 400px; float: left; margin-top: 20px}
ul#left-social {}
ul#left-social li{display: inline; float: left; margin-right: 16px; }

ul#left-social li a{width: 56px; height: 56px; display: block; text-indent: -9999px}

/* ROLLOVERS */
ul#left-social li a#twitter-social {background: url(../images/twitter.png) no-repeat 0 -56px;}
ul#left-social li a#twitter-social:hover {background: url(../images/twitter.png) no-repeat;}

ul#left-social li a#dribbble-social {background: url(../images/dribbble.png) no-repeat 0 -56px;}
ul#left-social li a#dribbble-social:hover {background: url(../images/dribbble.png) no-repeat;}

ul#left-social li a#forrst-social {background: url(../images/forrst.png) no-repeat 0 -56px;}
ul#left-social li a#forrst-social:hover {background: url(../images/forrst.png) no-repeat;}

ul#left-social li a#skype-social {background: url(../images/skype.png) no-repeat 0 -56px;}
ul#left-social li a#skype-social:hover {background: url(../images/skype.png) no-repeat;}

/* COPYRIGHT */
#right-footer {width: 200px; float: right; text-align: right;}
#right-copy { line-height: 60px; text-align: right; margin-top: 10px;}
#zerply {margin-top: -40px; height: 16px;}
#zerply a{line-height: 17px;  margin-top: 20px; text-transform:uppercase; font-size: 10px; background: url(../images/zerply.png) no-repeat right -16px; padding-right: 50px; text-decoration: none; color: #0f0f0f; display: block}
#zerply a:hover {background: url(../images/zerply.png) no-repeat right 0px;}










